DATABASE_NAME=buhosdb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=Admin1234
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_HIBERNATE_DDL=update
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_APPLICATION_NAME=buhos-app